<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>ポエム一覧</h1>
    <% @poems.each do |poem| %>
    <div class="row">
      <h4><strong><%= poem.title %></strong></h4>
      <p><%= poem.content %></p>
      <%= link_to "詳細", poem_path(poem.id), class: 'btn btn-default btn-sm btn-success' %>
    </div>
    <% end %>
  </div>
</div>
